:root {
  --background-color: #1d1c25;
  --font-size: 18px;
  --line-height: 18px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

.container {
  display: grid;
  grid-template-columns: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.row {
  width: 700px;
  align-self: center;
  justify-self: center;
  padding: 20px;
}
.row .top-s {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row h1 {
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.row p {
  margin-bottom: 50px;
  color: #fff;
  line-height: calc(var(--line-height) * 1.5);
  font-size: var(--font-size);
}

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 200px;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #DC7633  ;
  outline: none;
}
input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}
input[type="range"]::-ms-track {
  border: inherit;
  color: transparent;
  background: transparent;
}
input[type="range"]::-ms-fill-lower, input[type="range"]::-ms-fill-upper {
  background: transparent;
}
input[type="range"]::-ms-tooltip {
  display: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
}
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
}
input[type="range"]::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
}
